
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    box-sizing: border-box;
    outline: 0;
}

:root {
    --primaryColor:  rgb(13, 106, 134);
    --primaryColorDarker:  rgb(0, 49, 65);
}

.head{
    columns: 2 ;
}

h2 {
    margin-top: 5px;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primaryColor);
    font-family: 'Open sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input, form label, form button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primaryColor);
}

.btn {
    border: none;
    background: var(--primaryColor);
    color: white;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

.btn:hover {
    background: var(--primaryColorDarker);
}

.res {
    background-color: aqua;
}
